* {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

img {
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgb(128, 128, 128);
}

ul>li {
    list-style: none;
    font-size: 18px;
    padding: 10px;
}

a {
    font-weight: 400;
    color: black;
}

a:hover {
    color: grey
}