* {
    text-align: center;
    font-family: Helvetica, sans-serif;
    padding: 0px 30px 0px 30px;
}


img {
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgb(128, 128, 128);
    padding: 0px;
}

.recipe-photo {
    width: 30%;
    height: auto;
}

ul>li {
    list-style: none;
    font-size: 18px;
    padding-top: 10px;
}

a {
    font-weight: 400;
    color: black;
}

a:hover {
    color: grey
}

.description, .steps {
    text-align: left;
}

h2 {
    padding-top: 30px;
}